
.DS_Store
.Rproj.user

data_products/mpg_comparison/data/14data.zip

data_products/mpg_comparison/data/2014 FEGuide-for DOE1-release dates before 6-14-2014-no-sales-6-13-2014withEVupdateforpublic.xlsx

data_products/mpg_comparison/data/all_alpha_14.pdf

data_products/mpg_comparison/data/all_alpha_14.xlsx

data_products/mpg_comparison/data/electric_cars_addl2.csv

data_products/mpg_comparison/data/FEG2014.pdf

data_products/mpg_comparison/data/Fuel Economy Web Services.html

data_products/mpg_comparison/data/Vehicle Data.zip

data_products/mpg_comparison/data/vehicles.csv

data_products/mpg_comparison/data/vehicles.csv.zip

Regression/.RData

Regression/.Rhistory

Regression/reg_proj_pdf.html

Regression/regression_proj.html

reproducible_research/impactful_weather.html

reproducible_research/StormData.csv.bz2

exporatory_data/NEI_data/Source_Classification_Code.rds

exporatory_data/NEI_data/summarySCC_PM25.rds

reproducible_research/Checklist.pdf
en_US

data_products/mpg_comparison/.Rapp.history

data_products/mpg_comparison/.RData

data_products/mpg_comparison/.Rhistory

Capstone/small_twitter.txt

Capstone/en_US

blog_samp.txt
news_samp.txt
twit_samp.txt


Capstone/Analysis/initial_analysis copy.R

data_products/.RData

data_products/.Rhistory

data_products/gaData.csv

machine_learning/data/pml-testing.csv

machine_learning/data/pml-training.csv

*.rdb

*.rdx

Capstone/twit_samp_10percent.txt
